

.Calculator {
    font-family: arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 20px; /* Slightly reduce border radius */
    max-width: 400px; /* Make it narrower */
    overflow: hidden;
    margin-top: 100px; /* Adjust for the fixed navbar */
}

.display {
    width: 100%;
    padding: 15px; /* Reduce padding */
    font-size: 3rem; /* Reduce font size */
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px; /* Reduce gap */
    padding: 20px; /* Reduce padding */
}

#calcbtn {
    width: 80px; /* Reduce button size */
    height: 80px;
    border-radius: 50%;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 2.5rem; /* Reduce font size */
    font-weight: 500;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

button:active {
    background: #bbb;
}

.btn_opr {
    background-color: hsl(35, 100%, 55%);
    width: 80px; /* Match size with other buttons */
    height: 80px;
    border-radius: 50%;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 2.5rem; /* Adjust font size */
    font-weight: 500;
    cursor: pointer;
}

.btn_opr:hover {
    background-color: hsl(35, 100%, 65%);
}

.btn_opr:active {
    background-color: hsl(35, 100%, 75%);
}

#btn_equ{
    background: #f5923e;
    grid-column: span 1;    
}

button:first-child {
    background: #cc3b3b;
    font-size: 2rem; /* Adjust font size */
}

button:first-child:hover {
    background: #b23535;
}

.btn_zero {
    grid-column: span 2;
    width: 170px; /* Reduce width */
    border-radius: 50px; /* Adjust radius */
    text-align: left;
    padding-left: 24px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 2.5rem; /* Reduce font size */
    font-weight: 500;
    cursor: pointer;
}


