.cont {
    margin: 10px;
    padding: 20px;
}

#h11 {
    font-family: monospace;
    line-height: 5rem;
    color: #e0e0e0;
    font-size: 100px;
    font-weight: 900;
    letter-spacing: 0.6rem;
    text-shadow: 
        2px 2px 4px rgba(98, 22, 128, 0.5), 
        0 0 10px rgba(98, 22, 128, 0.7),    
        0 0 20px rgba(98, 22, 128, 0.9);
}

#h22 {
    font-family: monospace;
    line-height: 2;
    color: #e0e0e0;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    text-shadow: 
        2px 2px 4px rgba(98, 22, 128, 0.5), 
        0 0 10px rgba(98, 22, 128, 0.1),    
        0 0 20px rgba(98, 22, 128, 0.8);
}

@media (max-width: 768px) {
    #h11 {
        font-size: 60px;
        line-height: 4rem;
        letter-spacing: 0.4rem;
    }

    #h22 {
        font-size: 1.5rem;
        line-height: 1.8;
        letter-spacing: 0.1rem;
    }
}

@media (max-width: 480px) {
    #h11 {
        font-size: 40px;
        line-height: 3rem;
        letter-spacing: 0.3rem;
    }

    #h22 {
        font-size: 1.2rem;
        line-height: 1.5;
        letter-spacing: 0.05rem;
    }
}


.cont {
    padding: 20px;
  }
  
  .cont.dark {
    background-color: #333;
    color: white;
  }
  
  h1, h2 {
    font-family: Arial, sans-serif;
  }
  
  h1.dark, h2.dark {
    color: #ddd;
  }
  
  select {
    padding: 8px 12px;
    font-size: 1rem;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
  }
  


  /* Fixed position for the language selector */
.language-selector {
    position: fixed;
    top: 20px; /* Adjust the distance from the top */
    left: 20px; /* Adjust the distance from the left */
    z-index: 1000; /* Ensures it's above other content */
    background-color: white; /* Optional, to make it stand out */
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .language-selector select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: white;
  }
  